#about{
	
	@include clearfix;

	padding-top: 5em;
	padding-bottom: 6em;
	border-top: 5px solid #666;
	background: url('../assets/images/subtle_dots.png') repeat;
	
	.section-header{
		color: #aaa;
	}
	
	.about-text{
		line-height: 1.6em;
		font-size: 2em;
		font-weight: 300;
		margin: 0 auto;
		letter-spacing: 1px;
	}

	.about-text p + p{
		margin-top: 2em;
	}

	a{
		display: inline-block;
		border: 1px solid $blue;
		background: $orange;
		color: #fff;
		letter-spacing: 1px;
		font-weight: 100;
		margin: 2em auto;
		display: block;
		width: 200px;
		padding: 1em;
		text-decoration: none;
		@include border-radius(5px);
		@include transition(all .5s);

		&:hover{
			background: darken($orange, 10%);
		}
	}

}

@media screen and (max-width: 1600px){
	
	#about{
		
		.about-text{
			font-size: 1.4em;
		}

	}

}

@media screen and (max-width: 1200px){

	#about{
		
		.about-text{
			float: none;
			width: 100%;
			text-align: center;
		}

	}

}

@media screen and (max-width: 800px){

	#about {

		.about-text{
			font-size: 1.2em;
		}

	}

}

@media screen and (max-width: 480px){
	
	#about {

		.about-text{
			font-size: .8em;
		}

	}

}