#site_header{

	padding: 0 15%;

	.page-title{
		margin: .5em 0 .5em;
		display: block;
		background: url(../assets/images/logo-horizontal.png) no-repeat 0 0;
		text-indent: -9999em;
		height: 63px;
		width: 250px;
	}
}